@import "../../../Assets/saas/Main.scss";

///@@@@@@@@@@@@@@@@@@@@  overview-managed services starts @@@@@@@@@@@@@@

.overview_managed_services_section{
    
    
    
    .managed_services_img{
        width: 100%;
    }
}

///@@@@@@@@@@@@@@@@@@@@  overview-managed services starts @@@@@@@@@@@@@@



///@@@@@@@@@@@@@@@@@@@ managed flowchart css starts @@@@@@@@@@@@@@@@@@@@@@@@

.managed_service_flowchart_sec{
    margin-bottom: 80px;
    margin-top: 80px;
    
    // h1{
    //     font-family: $rajdhani_font;
    //     text-align: center;
    // }

    .managed_service_box{
        
            box-shadow: 0px 2px 20px #0000002b;
    }
    
    .bg1{
        background-color: #2381A9;
    }
    .bg2{
        background-color:#268EBA;
    }
    .bg3{
        background-color: #2A9BCB;
    }
    .bg4{
        background-color: #34A5D5;
    }
    .bg5{
        background-color: #45ACD9;
    }
    .bg6{
        background-color: #56B4DC;
    }

    .managed_service_content{
        text-align: center;
        padding-top: 40px;
    padding-bottom: 40px ;
    }

    p{
        background-color: #ffff;
        border-radius: 50%;
        text-align: center;
        
    display: inline-block;
    line-height: 50px;
    width: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #2381A9;
    font-family: $rajdhani_font;
    }
    h5{
        font-family: $rajdhani_font;
        font-weight: 600;
        color: #fff;
        text-align: center;
        
         


    }
}

///@@@@@@@@@@@@@@@@@@@ managed flowchart css ends @@@@@@@@@@@@@@@@@@@@@@@@



///@@@@@@@@@@@@@@@@@@@@  main content-managed services starts @@@@@@@@@@@@@@@@

.content_managed_services_section{
    margin-bottom: 80px;
    .content_sec_right_managed_services{
        padding-left: 40px;

        ul{
            list-style-type:none;

           li{
            margin-bottom: 15px ;
           }

            li:before{
                content: "\f111";
        position: absolute;
        font-family: "FontAwesome";
        //font-size: 22px;
        width: 15px;
    height: 15px;
    background: #32a4d533;
    font-size: 9px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    color: #32a4d5;
       // color: $ball_blue_color;
        margin-left: -32px;
        margin-top: 5px;
            }
        }
    }
    
    
    .managed_services_img{
        width: 100%;
    }
}

///@@@@@@@@@@@@@@@@@@@@  main content-managed services starts @@@@@@@@@@@@@@@@