@import "../../../Assets/saas/Main.scss";
.heading_title{
    color: black;
        font-size: $heading_title;
        font-weight: 700;
        font-family: $rajdhani_font;
        line-height: 48px;
}