@import "../../../Assets/saas/Main.scss";
.heading_title{
    color: black;
        font-size: $heading_title;
        margin-top: 20px;
        font-weight: 700;
        font-family: $rajdhani_font;
        line-height: 54px;
}