@import "../../Assets/saas/Main.scss";

.application_tools_section{
  padding-top: 80px;
}

.marquee_scroll {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  background: $ball_blue_color;
  padding: 10px;
  font-size: 24px;

  span {
    font-family: $rajdhani_font;
    font-weight: bold;
  
    font-size: 45px;
    color: #fff;
    margin-right: 30px;
    margin-left: 30px;

  }
}
