
.who_we_r_content {
     background: #fbf4f4;
     padding: 10px;
}
.who_we_are_img img{
    width: 100%;
}
.about_who_we_r_content{
    padding-left: 80px;
}


.company_vison{
    padding-top: 100px;
     padding-bottom: 100px;
    // background: lightblue;
    
}

.box{

    padding: 35px 0px;
    box-shadow: 0px 3px 6px 0px #7c7c7c;
    border-radius: 5px;
    padding: 20px 10px;
    
}
