@import '../../Assets/saas/Main.scss';

.who_we_r_content {
     background: #fbf4f4;
     padding: 10px;
}
.who_we_are_img img{
    width: 100%;
}
.about_who_we_r_content{
    padding-right: 80px;
}
.about_who_we_r_content p{
    text-align: start;
}


.company_vison{
    padding-top: 100px;
     padding-bottom: 100px;
    // background: lightblue;
    
}

.box{

    padding: 35px 0px;
    box-shadow: 0px 3px 6px 0px #7c7c7c;
    border-radius: 5px;
    padding: 20px 10px;
    
}

// contact starts
.contact_social_icon{
    gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 25px;
}
.sub_title{
    padding: 30px 25px;
}

.submit_button{
    display: flex;
    justify-content: center;
   button{
    width: 20%;
    font-family: rajdhani;
    font-weight: 550;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 0;
    border: none;
    border-radius: 20px ;
   }
  
}

.submit_button  button:hover{
    background: #24688f;
    
  }

  .form-control{

    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    border: none;
    border-style: none;
  }
  .form-control:focus{
    box-shadow: none;
  }
//   contact ends