@import "../../Assets/saas/Main.scss";

.sticky_menu {
    // padding: 30px;
    background-color: $ball_blue_color;

    .service_sticky_menu_container {
        height: 60px;
    }
    .integration_heading{
        font-size: 34px;
    }

    .bg-body-tertiary {
        background: none;
    }
    .integration_heading{
        font-size: 34px;
    }

    a {
        color: #fff !important;
        font-weight: 600;
        display: flex;
        font-size: 16px;
        justify-content: space-evenly;
        text-decoration: none;
        

    }


    // .ms-auto .navbar-nav{
    //     gap:20px
    // }
    .navbar-nav {
        gap: 20px !important;
    }

    .navbar-brand {
        font-size: 42px;
        font-family: 'Rajdhani';
        font-weight: 700;
    }
}