// @import "../../Assets/saas/Main.scss";

// .newsletter_close_btn {
//   svg {
//     font-size: 34px;
//     position: absolute;
//     right: 5px;
//     top: 5px;
//     color: #e51212;
//     cursor: pointer;
//     &:hover {
//       color: $ball_blue_color;
//     }
//   }
// }

// .newsletter_sec {
//   img {
//     width: 190px;
//     border-radius: 10px;
//   }
//   h4 {
//     font-family: $rajdhani_font;
//     text-align: center;
//     font-weight: bold;
//     text-transform: uppercase;
//     margin-top: 25px;
//   }
// }

// .newsletter_sec {

//   padding: 15px;
// }

// .subscription_form.newsletter_form {
//   display: block;

//   .input-group {
//     border: 1px solid #bcbcbc;
//   }

//   .input-group-text,
//   input {
//     height: 55px;
//     padding: 10px;
//   }

//   .newsletter_submit {
//     text-align: center;

//     button {
//       margin-left: 0;
//       width: 100%;
//       margin-bottom: 20px;
//       &:hover {
//         background-color: green;
//       }
//     }
//   }
// }
@import "../../Assets/saas/Main.scss";

.brouchure_popup{
    .brouchure_icon{
        background: $light_navy_blue;
      
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 60px;
    text-align: center;
    font-size: 45px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -22px);
    border: 5px solid #fff;
    }

    .modal-header{
        border: none;
    }

    .modal-body{
        padding: 40px; 
        background-image: url("../../Assets/images/download_pdf.jpg");
 
    }

    h4{
        font-family: $rajdhani_font;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        margin-bottom: 30px;
    }
    form{
        text-align: center;
        .input-group-text{
            background: transparent;
            border-right: none;
            padding-right: 0px;
            padding-left: 20px;
            border: 1px solid #cacaca;
        }

        input{
            height: 55px;
            border: 1px solid #cacaca;
            border-left: none;

            &:focus{
                border-color: #cacaca;
            }
        }

        button{
            padding: 12px 35px;
            background: $ball_blue_color;
            border: none;
            width: 100%;
            border-radius: 5px;
            &:hover{
                background: $light_navy_blue !important;
            }
        }
    }
}






 