// .achivement_images {
//   position: relative;
//   bottom: 0;
// }

// .achivement_description_container {
//   position: absolute;
//   bottom: 0;
//   background: #0006;
//   color: #fff;
//   // padding: 10px;
//   p {
//     // color: #fff;
//     color: #fff;
//     font-size: 14px;
//     line-height: 18px;
//   }
//   h4 {
//     font-size: 20px;
//     font-family: "Rajdhani";
//     font-weight: bold;
//   }
// }
.row_one_section{
  background-color:antiquewhite;
  height: 350px;
  width: 100%;
 
  border-radius: 30px;
}
.row_one_section{
  display: flex;
}
.ahivment_one_img img{
  height: 302px;
  width: 309px;
  border-radius: 40px;
  margin-left: 26px;
  margin-top: 27px;
}
.achivment_one_para{
  text-align: center;
  margin-left: 26px;
  margin-top: 27px;
}
.achivemnt_first_row{
  display: flex;
}



.row_two_section{
  background-color:antiquewhite;
  height: 350px;
  width: 100%;
 
 
  border-radius: 30px;
}
.row_two_section{
  display: flex;
}
.ahivment_one_img img{
  height: 302px;
  width: 309px;
  border-radius: 40px;
  margin-left: 26px;
  margin-top: 27px;
 
  border-radius: 40px;
}
.achivment_two_para{
  text-align: center;
  margin-left: 26px;
  margin-top: 27px;
}