
// @import '../../Assets/saas/Main.scss';


.background_banner h3{
    font-size: 52px;
    text-decoration: underline;
    // font-family: $rajdhani;
}


@media screen and (max-width:480px) {
    .breadcumb_bg_img{
        padding: 60px 0 !important;
    }
}