@import "../../Assets/saas/Main.scss";

.banking_section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.banking_main_content {
  p {
    margin-top: 20px;
  }
}

.banking_img img{
  height: 400px;
   margin-left: 100px;
}

.customer_web_section {
  background-image: url("../../Assets/images/Banking_bg_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  //   padding: 150px;
  .banking_upper_heading {
    h3 {
      color: #fff;
    }
  }
}

.banking_img img{
  transition: .5s;
  &:hover{
    transition: .5s;
    transform: scale(1.05,1.04);
  }
}

.banking_upper_heading {
  padding-bottom: 140px;
  padding-top: 80px;
}

.customer_web_box_section {
  margin-top: -100px;
  padding-bottom: 80px;
}
.customer_web_box {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 20px #00000029;
  border-radius: 6px;
  transition: 0.5s;

  h4 {
    font-weight: bold;
    font-family: $rajdhani_font;
  }
}

.customer_web_box:hover {
  // transition: .5s;
  transform: scale(1.05, 1.04);
  background-color: #32a4d5;
  color: #fff;
  p {
    color: #fff;
  }
}

.key_feature_section {
  // padding-bottom: 80px;
}
.key_feature_box {
  box-shadow: 0 2px 20px rgb(0 0 0 / 5%);
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
transition: .5s;
  background: none;
  //    opacity: 0;
  h4 {
    font-weight: bold;
    font-family: $rajdhani_font;
    margin-bottom: 20px;
    font-size: 22px;
  }
}
.key_feature_box:hover {
  background-image: url("../../Assets/images/Banking_bg_banner.png");
  opacity: 2;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  transition: .5s;
  p {
    color: #fff;
    transition: .5s;
  }
}


@media screen and (min-width:480px) and (max-width:767px){
    .banking_section {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }


    .customer_web_box {
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1607843137);
        border-radius: 6px;
        transition: 0.5s;
        margin-top: 20px;
    }

    
    .customer_web_box_section {
        margin-top: -100px;
        padding-bottom: 40px;
    }
    .banking_img img{
  height: 400px;
   margin-left: 0px !important;
}
}

@media screen and (max-width:480px){
.banking_img img{
  width: 100% !important;
  margin-top: 20px;
}
.banking_img img{
  height: 400px;
   margin-left: 0px !important;
}
.customer_web_box {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1607843137);
  border-radius: 6px;
  transition: 0.5s;
  margin-top: 20px;
  min-height: 430px !important;
}
}
@media screen and (min-width:481px) and (max-width:767px){
  .banking_img img{
    width: 100% !important;
    margin-top: 20px;
  }

  .customer_web_box {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1607843137);
    border-radius: 6px;
    transition: 0.5s;
    min-height: 430px !important;
}
}
