@import "../../Assets/saas/Main.scss";
@import '../../Assets/saas/Main.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";


// .join_our_team
// {
//     padding-top: 80px;
//     padding-bottom: 35px;
// }
// .our_team_container_box{
//     content: "";
//     position: relative;
// }

// .our_team_container{
//     box-shadow: 0px 2px 20px #00000017;
//     padding: 30px;
//     border-radius: 10px;
//     padding-bottom: 35px;
//     margin-right: 30px;
//     background: #fff;
//     position: relative;  
 
//     p{
//         padding-top: 20px;
//         font-size: 18px;
//         font-family: rajdahni;
  
//     }
// }

// .our_team_container::after{
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: #33a3d3;
//     top: 7px;
//     left: -7px;
//     z-index: -9;
//     border-radius: 15px;
// }


// .sakshath_career_box {
//     position: relative;
//     content: "";
// }


// .sakshath_career_container{
//     box-shadow: 0px 2px 20px #00000017;
//     padding: 30px;
//     border-radius: 10px;
//     margin-left: 30px;
//     background: #fff;
//     position: relative; 
//     p{
//         padding-top: 20px;
//         font-size: 18px;
//         font-family: rajdahni;
//     }
// }


// .sakshath_career_container::after{
//     position: absolute;
//     content: "";
//     z-index: -9;
//     background: #33a3d3;
//     left: -7px;
//     top: 7px;
//     border-radius: 12px;
//     width: 100%;
//     height: 100%;
// }

// .career_mail_link
// {
// text-decoration: none;
//     font-size: 22px;
//     // color: #24688f;
//     font-family: 'Roboto';
//     font-weight: 700;
//     color: #242323

// }
// .career_mail_link:hover{
//     color:rgb(116, 116, 172);
//     text-decoration: underline;
    
// }

// .sakshath_career_mail{
//     padding-bottom: 50px;
//     padding-top: -20px;
// }


.join_our_team_section{
    margin-top: 100px;
    margin-bottom: 100px;
    .first_row_with_empty_block{
       
        align-items: center;
    }
    .join_our_team_wrapper{
        background: white;
        box-shadow: 0px 2px 25px rgb(0 0 0 / 6%);
        margin-right: -90px;
        padding: 40px;
        position: relative;
        border: 1px solid #f1f1f1;
     
    &::before{
     
        background-image: url("../../Assets/images/dotted_img.png") !important;
        position: absolute;
        content: "";
        z-index: -9;
        margin-top: -50px;
        margin-left: -35px;
        opacity: 0.5;
        width: 100px !important;
        height: 100px !important;
        background-size: cover;
        top: 0;
        left: 0;

        
   
    }
    ul{
        list-style-type: none;

        li{
            margin-bottom: 15px;
        }
        li:before{
            content: "\f111";
        position: absolute;
        font-family: "FontAwesome";
        //font-size: 22px;
        width: 15px;
    height: 15px;
    background: #32a4d533;
    font-size: 9px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    color: #32a4d5;
       // color: $ball_blue_color;
        margin-left: -32px;
        margin-top: 5px;

        }
    }
    }
    // .join_our_team_img_wrapper{
    //     display: flex;
    //     justify-content: space-between;
    // }
}





////@@@@@@@@@@@@@@@@ careers at sakshath inside box section css starts @@@@@@@@@@@@@@@@@@@@
.careers_at_sakshath_inside_box{
    margin-bottom: 80px;
}
.career_at_sakshath_container{
    margin-top: -180px;
}

.careers_at_sakshath_main_box{
  
  position: relative;
  box-shadow: 0px 2px 20px #0000001a;

 ul{
    list-style-type: none;

    li{
        margin-bottom: 15px;
        padding-left: -32px;
    }
    
        li:before{
            content: "\f111";
        position: absolute;
        font-family: "FontAwesome";
        //font-size: 22px;
        width: 15px;
    height: 15px;
    background: #32a4d533;
    font-size: 9px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    color: #32a4d5;
       // color: $ball_blue_color;
        margin-left: -32px;
        margin-top: 5px;
            // content: "\f058";
            // position: absolute;
            // font-family: "FontAwesome";
            // font-size: 22px;
            // color:$ball_blue_color;
            // margin-left: -32px;
            // margin-top: -3px ;
        }
    }
}
 


.careers_at_sakshath_main_box{
    background-color: #fff;
    padding: 40px;
}


//// @@@@@@@@@@@@@@@@@ careers at sakshath inside box section css ends @@@@@@@@@@@@@
/// 
/// 
/// 
/// 

  .benefits_container{
      padding-top: 80px;
      padding-bottom: 80px;
      background: #ffffff;
      margin-top: 40px;
      margin-bottom: -40px;
  }
  .benefits_heading{
    margin-bottom: 30px;
  }
  .benefit_icon{
   
      justify-content: center;
      align-items: center;

      p{color:#242323;
        font-weight: 600;
        font-size: 18px;}
  }
  .benefit_img{      //background: #32a4d5;
      //border-radius: 50%;
      //line-height: 100px;
      //width: 100px;
      //height: 100px;
      padding: 2px 18px;
      margin-bottom: 25px;
  }  .benefit_img img{
      //filter: brightness(0) invert(1);
  }
  .benefit_img {
    .img-fluid{
        max-width: 75%;
        height: auto;
    }
  } 
 .cols{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
 .benefit_icon{position: relative;}
 .benefits_container .cols:not(:last-child) .benefit_img::before{
    position: absolute;
    content: "";
    width: 125px;
    border-bottom: 2px dashed #25678f;
    height: 5px;
    margin-top: 72px;
    left: 0;
    margin-left: 205px;
}
 


//////////@@@@@@@@@@@@@@@ career footprint @@@@@@@@@@@@@@@@
.careers_footprint_section{
  padding-top: 80px;
  padding-bottom: 80px;
}

.careers_footprint_bangalore_section{
  display: flex;
  padding: 25px 30px;

}
// .image-gallery-slide-wrapper {
//   width: 118%;
// }
.career_footprint_right-section{
  padding-left: 80px;
}
.career_footprint_gallery{
  padding: 55px 50px;
.career_footprint_company_images{
  img{
  width: 75%;
}
}
.react-multi-carousel-track{
  li{width: 285px !important;}
}
}

// new benefits ends
 //befits starts
 .benfits{     padding-top:34px;
 }

 .benfits_icon_img{

     background: linear-gradient(90deg, rgb(50 163 210), rgb(62 108 136));     border-radius: 50%;
     position: relative;
 }
 .benfits_icon_imgs{

     background: linear-gradient(90deg, rgb(50 163 210), rgb(62 108 136));
     border-radius: 50%;
 }
 .benfits_icon_img::before{
     position: absolute;
     content: "";
     width: 100px;
     height: 3px;
 background: rgb(127, 127, 185);

  
     left: 95px;
 top: 50%;     // bottom: -93px;
 }
   
 .benfits_icon_img img{
     padding: 15px;
     filter: brightness(0) invert(1);

 }
 .benfits_icon_imgs img{
     padding: 15px;
     filter: brightness(0) invert(1);
 }

 .benfit_heading p{
     font-size: 24px;
     font-weight: 700;     font-family: "Rajdhani";
     line-height: 48px;
     color: black;
     text-decoration: underline;
 }

 .benfit_content{
     padding-left: 25px; }

 .benfits_section{
     padding-top: 100px;
     padding-bottom: 100px;
     background: #faf4f4;
 }

 .benfits_img{     mix-blend-mode: darken;
     padding-left: 50px;
 }


//  @@@@@@@@@  testimonials css  starts @@@@@@@@@@@@
.careers_testimonials{
  padding-top: 80px;
  padding-bottom: 80px;

.swiper{
  background: aliceblue;
}
// .testimonials_slide{
//   // background: aliceblue;
//   padding: 24px;
// }
.swiper-slide{
  width: 315.2px!important;
 
}
.swiper-wrapper{
  padding-top: 50px;
}
.testimonial_box {
  background: white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1294117647);
  padding: 20px 30px;
  border-radius: 25px;
  h6{
    text-align: end;
  }
}
.swiper-button-next:after,.swiper-button-prev:after{
  background: #24688f38!important;
}
.testimonials_citation_symbol{
  svg{
    font-size: 34px;
    color: #32A4D5;
    margin-bottom: 5px;
  }
}
}





//  @@@@@@@@@  testimonials css  ends @@@@@@@@@@@@

//benefits ends

//apply job starts

// .jobs{
//     padding-top: 80px;
//     padding-bottom: 80px;
// }
// .hiring_box{
//     box-shadow: 0px 2px 20px #0000003b;
//     padding: 30px;
//     border-radius: 5px;
//     margin-bottom: 30px;
//     h5{
//         text-decoration: underline;
//     font-family: roboto;
//     font-weight: 600;
//     font-size: 24px;
//     padding-bottom: 15px;
//     min-height: 72px;
//   }
//   a {
//     padding: 7px 12px;
//   }
// }

.careers_job_container{
    margin-bottom: 20px;
}
// .careers_job_container > div::before{
//     content: "";
//     position: absolute;
//     width: 84%;
//     height: 125%;
//     top: 0;
//     background-color: #ecf9ff;
//     z-index: -1;
//     margin-left: 60px;
//     margin-top: -26px;
//     border-radius: 20px;
// }
.careers_jobs_box{
    display: flex;
    border: 1px solid #dbdbdb;
    border-radius: 13px;
    padding: 25px; 
    background-color: $white_color;

    
}
.careers_jobs_box:hover{
  box-shadow: 0px 2px 20px rgb(0 0 0 / 12%);
    border: 1px dashed #32a4d5;
}
 
.description_box_withicon{
  display: flex;
  gap: 20px;
  font-family: $rajdhani_font;
  font-weight: 600;
  svg{
    margin-top: -4px;
    margin-right: 5px;
  }
}
// .description_box_job_status{
// display: flex;
    
    
//     margin-top: 20px;
    
// } 
// .description_box_job_status div{
//     margin-right: 20px;
//     span{  display: inline-block;     border-radius: 30px;
//         font-size: 15px;
//         font-family: $rajdhani_font;
//         font-weight: 600;
//         padding: 5px 20px;}
// }
// .remote_job_status_style{
//     background:rgba(249,171,0,.15);;
//     color: #f9ab00;
  
// }

.careers_jobs_info_box_img_holder_box img{
    width: 55px;
}
.careers_jobs_info_box_job_description_box{
    padding-left: 20px;
}

// .full_job_status_style{
//     background:rgba(25,103,210,.15);
    
//     color: #1967d2;
// }
// .parttime_job_status_style{
//     background:rgba(52,168,83,.15);
   
//     color: #34a853;
// }

.careers_apply_job_section{
    padding: 80px 0 40px;
}
// @@@@@@@@@@@@@  apply now button css starts @@@@@@@@@@@@@@@@@@@@

.apply_now_button a{
    margin-top: 20px;
    margin-bottom: 40px;
}

.apply_now_button{
    text-align: left;
    margin-top: 20px;
    margin-bottom: -4px;
    button{
        background-color: $ball_blue_color;
        padding: 7px 20px;
        color: #fff;
        border: none;
        border-radius: 39px;
        font-size: 14px;
    font-family: rajdhani,sans-serif;
    font-weight: 600;
        &:hover{
            background-color: $light_navy_blue;
        }
    }
}


// apply job ends

// media query starts
@media screen and (max-width: 480px) {

  .sakshath_career_box {
    position: relative;
    content: "";
    padding-top: 25px;
  }
  .sakshath_career_container {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0901960784);
    padding: 30px;
    border-radius: 10px;
    margin-left: 0 !important;
    background: #fff;
    position: relative;
  }

  .career_mail_link {
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 700;
    color: #242323;
  }

  //starts

  .join_our_team {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .our_team_container {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0901960784);
    padding: 30px;
    border-radius: 10px;
    padding-bottom: 35px;
    /* margin-right: 30px; */
    background: #fff;
    position: relative;
    margin-right: 0px;
  }
  .benefit_img {
    background: #32a4d5;
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: auto;
  }
  .benefit_img img {
    filter: brightness(0) invert(1);
    padding: 10px;
  }
  .cols {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    width: 50%;
    flex: none;
  }
  .benefits_container .cols:not(:last-child) .benefit_img::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    margin-top: 50px;
    left: 0;
    margin-left: 100px;
  }
  .benefit_icon p {
    font-size: 14px !important;
    line-height: 18px;
    padding-top: 10px;
    font-weight: bold;
  }
  .join_our_team_section .join_our_team_wrapper{
    margin-right: 0px !important;
  }
  .benefits_container{
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .benefits_container {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f5f5f5;
  }
  .benefits_container .cols:not(:last-child) .benefit_img::before {
    position: absolute;
    content: "";
    width: 0px;

    height: 5px;
    margin-top: 50px;
    left: 0;
    margin-left: 0px;
  }
  .sakshath_career_box {
    position: relative;
    content: "";
    padding-top: 30px !important;
    margin-left: -10px !important;
  }

  .sakshath_career_box .sakshath_career_container {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0901960784);
    padding: 30px;
    border-radius: 10px;
    margin-left: 0px !important;
    background: #fff;
    position: relative;
  }

  .benefit_img {
    background: #32a4d5;
    border-radius: 50%;
    line-height: 70px;
    width: 70px;
    height: 70px;
  }

  .cols {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
  .benefit_icon p {
    font-size: 14px !important;
    line-height: 18px;
    padding-top: 10px;
    font-weight: bold;
  }
  .jobs {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .join_our_team {
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .staffing_industry_offer_section .col-md-3{
    margin-bottom: 10px;
  }
  .staffing_job_section .col-md-4{
    margin-bottom: 20px;
  }
  .staffing_benifit_section{
    display: none;
  }
  .discovery_section .col-md-4{
    margin-bottom: 10px;

  }
}


@media screen and (min-width:768px){
    .careers_job_container:nth-child(odd) > div{
        //margin-right: 40px;
    } 

    .careers_job_container:nth-child(even) > div{
       // margin-left: 40px;
    } 
}

.find_job{
  background-color: lightblue;


  .dont_see_role_right_box{
    margin-top: 140px;
  }
  .dont_see_role_left_para{
    // mix-blend-mode: darken;
    p{
      font-size: 67px;
    }
  }
}