@import "../../../Assets/saas/Main.scss";
.main_title{
font-size: $subheading_title;
    font-family: $rajdhani_font;
    color: $ball_blue_color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 15px;
}