@import "../../../Assets/saas/Main.scss";
.blogDetail_page{
    background: #f8f8f8d9;
    .blogDetail_content_page{
        border: 1px solid #dddddd;
    box-shadow: 0px 2px 20px #0000001a;
    }

    .blogdetail_img_box img{
        //box-shadow: 0px 2px 20px #000;
    }

    .blogdetail_content_box{
        padding: 30px;
    }
    .blogdetail_date_box{
        //margin-top: 20px;

        .blogdetail_date svg{
            vertical-align: text-top;
            color:#32a4d5 ;
            
        }
    }
    .blogdetail_mainHeading{
        font-size: 30px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    }
    .blogdetail_img2{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .popular_tags{
        margin-bottom: 30px;
    margin-top: 30px;
    }
    .search_box{
        border: 1px solid #d0d0cc;
        padding: 10px 20px 20px;
        margin-bottom: 40px;

        h4{
            margin-top: 10px;
            font-family:$rajdhani_font;
            font-weight: 700;
        }
        input{
            border: none;
    background: #ededed;
    padding: 10px;
    font-family: 'Rajdhani';
    font-weight: 600;
    display:block;
    width:250px;
        }

//         .fg_search {
//             background: rgb(147, 123, 123);
//             position: relative;
//             width: 300px;
//           }
          



//         button{
//         background: transparent;
//   border: none;
//   cursor: pointer;
//   display: inline-block;
//   font-size: 20px;
//   position: absolute;
//   top: 0;
//   right: 0;
//   padding: 18px 20px;
//   z-index: 2;
//         }

.fg_search{
    display: flex;
    
}
.magnifying_glass_box {
    background-color:#ededed;
    padding: 10px;
}

  svg{
    
    font: black;

}
}

.top_of_recent_newsbox_heading{
    margin-left: 3px;
    margin-top:10px;
    font-family: $rajdhani_font;
    font-size: 24px;
    font-weight: 700;
}

.recent_news_content_box{
    //padding-left: -10px;
    margin-left: -10px;


}


.blogDetail_search_box_recentnews{
    margin-left: 40px;
}
.recent_news{
    padding: 10px 20px 15px;
}
.recentnews_box{
    margin-top: 15px;
    border: 1px solid #d0d0cc;
    margin-bottom: 40px;
}

.recent_news_column{
    display: flex;
    justify-content: space-between;
    margin-left: -7px ;

    .recent_news_img_box {
        padding: 10px; 
    }
    
    img{
        max-width: 90px;
    }
    .recent_news_title_box{
        padding: 10px;
    text-align: start;

        h5{
            font-size: 12px;
            line-height: 15px;
            text-decoration: underline;
        }
    }
    .recent_news_date_box{
        
        margin-top: -15px;
    margin-left: 10px
    }
    .recentnews_blog_date{
        font-size: 12px;
        svg{
            vertical-align: text-top;
        }
    }
}

.best_tags_box_wrapper_box{
    border: 1px solid #dddddd;
    margin-top: 20px;
    padding:10px 20px 15px;
}
.best_tags_box{
    margin-bottom: 15px;

    h4{
        font-family: $rajdhani_font;
        font-weight: 700;
        font-size: 24px;
    }
}


.tags_box{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}
.tags_design{
    background: #32a4d5;;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
    color: #ffffff;
    
    text-decoration: none;
    
 


        

    }
}