@import "../../Assets/saas/Main.scss";

.newsletter_close_btn {
    svg{
    font-size: 34px;
    position: absolute;
    right: 5px;
    top: 5px;

    color: $ball_blue_color;
    cursor: pointer;
    &:hover{
        color: #e51212;
    }
}
}

.newsletter_sec{
    img{
        width: 230px;
    }
    h3 {
        font-family: $rajdhani_font;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 25px;
        color: $light_navy_blue;
    }
    h6{
        text-align: center;
        margin-bottom: 30px;
    }
}

.newsletter_sec {
    // padding: 20px 40px 40px 40px;
    padding: 30px;
}

.subscription_form.newsletter_form{
    display: block;


    .input-group{border-bottom: 1px solid #bcbcbc;}

    .input-group-text, input{
        height: 55px;
        padding: 10px;
    }

    .newsletter_submit{
        text-align: center;

        button{
            margin-left: 0;
            width: 70%;
            margin-bottom: 20px;
            &:hover{
                background-color: green;
            }
        }
    }
}