@import "../../Assets/saas/Main.scss";
// .box{
//     box-shadow: 0 2px 20px rgb(0 0 0 / 16%);
//     padding: 14px 12px;
//     border-radius: 5px;
//     //min-height: 100px;
//     min-width: 100px;
    .modal-body .box {
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
        padding: 35px 17px;
        border-radius: 7px;
        background: #eef3f5;
    color: #9b9999;
        margin-top: 10px;
    }

.modal-title{
    
    margin-left:250px;
    font-family: $rajdhani_font;
    font-weight: 700;
    font-size: 28px;
}
.job_description_checkmark::before{
    
            content: "\f111";
        position: absolute;
        font-family: "FontAwesome";
        //font-size: 22px;
        width: 15px;
    height: 15px;
    background: #32a4d533;
    font-size: 9px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    color: #32a4d5;
    margin-left: -32px;
        margin-top: 5px;
            // font-size: 22px;
            // color: #7141b1;
            // margin-left: -33px;
            // margin-top: -3px ;

}
.job_description_heading{
    font-family: $rajdhani_font;
    font-weight: 600;
    
}
.box{
    h6{font-family: $rajdhani_font;
    font-weight: 700;
    margin-bottom: 1px;
    color: #181818;}

    svg{
        
        // margin-right: 5px;
        // margin-top: -2px;
        margin-bottom: 8px;
        font-size: 26px;
    }
    p{
        margin-bottom: 0px;
        
    }
}


.careers_form_box{margin: -14px;}
.careers_contact_form{

    h4{
        font-family: $rajdhani_font;
        font-weight: 700;
        
    }
    background: #fff;
    padding: 20px;
    box-shadow: 0px 2px 20px #0000001f;
    z-index: 999;
    position: relative;
    
    button{
        background: $ball_blue_color;
        border: none;
        padding: 15px 30px;
        border-radius: 4px;
        margin-top: 20px;
    }
}