@import "../../Assets/saas/Main.scss";

.fancy_feature .container{
    background: #f8f8f8;
    margin-bottom: 20px;
}


.top_content h3{
    margin-top: 13px;
    margin: 10px;
    
}
.icon{
    // display:flex;
    margin-right: 10px;
    margin-left: 10px;
//    gap: 10px;
}

.content h3{
    color: red;
    font-weight: 600;
    text-decoration: underline;
    // margin-bottom: 12px;
   
}