@import "../../Assets/saas/Main.scss";

.letstalk {
  padding: 60px;
  background-color: $ball_blue_color;

  .heading_title{
    color: $light_navy_blue;
  }

a{
    text-decoration: none;
    cursor: pointer;
}
  h1 {
    font-family: "Rajdhani";
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 70px;
    animation: zoom-in-zoom-out 2s ease infinite;
  }
  span{
    color:'grey';
    font-size:'100px';
    font-family:'FontAwesome';
  }
}

.letstalk_heading{
    transition: .5s;
}
// .letstalk_heading:hover{
//     transform: scale(.75, .76);
//     transition: 0.5s;
//     color: #000;
//     h1:hover{
//         color:#000;
        
//     }
//     span{
//         color: #000;
//     }

// }


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}