@import "../../Assets/saas/Main.scss";

.our_team_sec {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: 4px solid $ball_blue_color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h5 {
        text-align: center;
        width: 150px; 
        font-size: 16px;
        font-family: 'Rajdhani';
        font-weight: bold;
        cursor: pointer; padding: 10px; border-radius: 10px; border: 1px solid #b5b5b5;

        &:hover{
            background-color: $ball_blue_color;
            color: $white_color;
        }
      }
  }
 
  .our_team_sec_box.active .details::before, .our_team_sec_box.active .details::after{
    background-color: $ball_blue_color;
  }

  .our_team_sec_box.active h5{background-color: $ball_blue_color; color: #fff;}

  .our_team_sec_box:nth-child(1) img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
  .our_team_sec_box img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 10px solid #dbdbdb;
  }

  .our_team_sec_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
  }


  .our_team_sec_box:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-400px);
  }
  .our_team_sec_box:nth-child(1) h5{  margin-top: 0px; cursor: pointer; padding: 10px; border-radius: 10px;
        border: 1px solid #b5b5b5; position: absolute;
        margin-top: -80px;}
  

  .our_team_sec_box:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg) translateY(-400px);
  }
  .our_team_sec_box:nth-child(2) .details {
    transform: rotate(-45deg);
  }
  .our_team_sec_box:nth-child(2) h5, .our_team_sec_box:nth-child(3) h5, .our_team_sec_box:nth-child(4) h5{position: absolute; right: -180px; top: 21px;   margin-top: 0px; }

  .our_team_sec_box:nth-child(5) h5{    position: absolute;
bottom: -110px;
margin-left: -10px; margin-top: 0px;  cursor: pointer; padding: 10px; border-radius: 10px; border: 1px solid #b5b5b5;}
  
  .our_team_sec_box:nth-child(3) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-400px);
  }
  .our_team_sec_box:nth-child(3) .details {
    transform: rotate(-90deg);
  }

  .our_team_sec_box:nth-child(4) {
    transform: translate(-50%, -50%) rotate(135deg) translateY(-400px);
  }
  .our_team_sec_box:nth-child(4) .details {
    transform: rotate(-135deg);
  }

  .our_team_sec_box:nth-child(5) {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-400px);
  }
  .our_team_sec_box:nth-child(5) .details {
    transform: rotate(-180deg);
  }

  .our_team_sec_box:nth-child(6) {
    transform: translate(-50%, -50%) rotate(225deg) translateY(-400px);
  }
  .our_team_sec_box:nth-child(6) .details {
    transform: rotate(-225deg);
  }

  .our_team_sec_box:nth-child(7) {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-400px);
  }
  .our_team_sec_box:nth-child(7) .details {
    transform: rotate(-270deg);
  }

  .our_team_sec_box:nth-child(8) {
    transform: translate(-50%, -50%) rotate(315deg) translateY(-400px);
  }
  .our_team_sec_box:nth-child(8) .details {
    transform: rotate(-315deg);
  }
 .our_team_sec_box:nth-child(6) h5, .our_team_sec_box:nth-child(7) h5, .our_team_sec_box:nth-child(8) h5{position: absolute; left: -185px; top: 21px;margin-top: 0px;  cursor: pointer; }


  .our_team_sec_dot {
    width: 450px;
    height: 450px;
    /* border: 4px solid red; */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .our_team_sec_inner_box {
    width: 450px;
    height: 450px;
    border: 4px solid #33A3D2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: $ball_blue_color;

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 78%;
        text-align: center;
        font-size: 14px;
        margin-bottom: 0px;
        // color: $white_color;
      }

      h4{
        font-size: 22px;
        font-weight: bold;
        font-family: $rajdhani_font;
      }
  }
  .our_team_sec_box .details::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #daf4fe;
    border-radius: 50%;
    transform: translate(-50%, 0px);
    background: #fff;
  }

  .our_team_sec_box .details::before{
    content: "";
    position: absolute;
    transform: translate(-50%, 0px);
    background: #edf7fb;

  }

  .our_team_sec_box:nth-child(1) .details::after{
    bottom: -16px;
    left: 50%;
  }

  .our_team_sec_box:nth-child(1) .details::before{
    width: 3px;
    height: 85px;
    bottom: -92px;
    left: 50%;
  }
  

  .our_team_sec_box:nth-child(2) .details::after{
    bottom: -16px;
    left: 20%;
    top: 78%;
  }
  .our_team_sec_box:nth-child(2) .details::before{
    width: 107px;
    height: 3.5px;
    bottom: 8px;
    transform-origin: 0;
    transform: rotate(139deg);
    left: 19px;
  }

  .our_team_sec_box:nth-child(3) .details::after{
    bottom: -16px;
    left: 2%;
    top: 35%;
  }

  .our_team_sec_box:nth-child(3) .details::before{
    width: 111px;
    height: 3px;
    bottom: 0;
    transform-origin: 0;
    transform: rotate(181deg);
    left: 0;
    top: 47%;
  }

  .our_team_sec_box:nth-child(4) .details::after{
    bottom: -16px;
    left: 13%;
    top: 0%;
  }
  .our_team_sec_box:nth-child(4) .details::before{
    width: 103px;
    height: 3px;
    bottom: 0;
    transform-origin: 0;
    transform: rotate(219deg);
    left: 13px;
    top: 11px;
  }

  .our_team_sec_box:nth-child(5) .details::after{
    bottom: 0px;
    left: 50%;
    top: -15px;
  }
  .our_team_sec_box:nth-child(5) .details::before{
    width: 3px;
    height: 107px;
    left: 50%;
    top: -111px;

  }

  .our_team_sec_box:nth-child(6) .details::after{
    bottom: 0px;
    right: -5px;
    top: 0%;
  }
  .our_team_sec_box:nth-child(6) .details::before{
    width: 103px;
    height: 3px;
    bottom: 0;
    transform-origin: 0;
    transform: rotate(316deg);
    left: 86%;
    top: 8%;
  }

  .our_team_sec_box:nth-child(7) .details::after{
    bottom: 0px;
    right: -30px;
    top: 39%;
  }

  .our_team_sec_box:nth-child(7) .details::before{
    width: 111px;
    height: 3.5px;
    bottom: 0;
    transform-origin: 0;
    transform: rotate(0deg);
    left: 100%;
    top: 49%;
  }

  .our_team_sec_box:nth-child(8) .details::after{
    bottom: 0px;
    right: -14px;
    top: 68%;
  }

  .our_team_sec_box:nth-child(8) .details::before{
    width: 102px;
    height: 3px;
    bottom: 0;
    transform-origin: 0;
    transform: rotate(47deg);
    left: 95%;
    top: 87%;
  }

#tsparticles{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
#tsparticles canvas{border-radius: 50%;}


//@@@@@@@ Media Query @@@@@@@

@media screen and (min-width:1024px) and (max-width:1280px){
    .our_team_sec,  #tsparticles{
        width: 550px;
        height: 550px;
    }
    .our_team_sec_inner_box p{font-size: 12px; line-height: 18px;}
    .our_team_sec_inner_box{
        width: 350px;
        height: 350px;
    }

    .our_team_sec_box:nth-child(1) img{
        width: 130px;
        height: 130px;
    }

    .our_team_sec_box img{
        width: 100px;
        height: 100px;
        border: 8px solid #dbdbdb;
    }

    .our_team_sec_box:nth-child(1) {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-275px);
    }

    .our_team_sec_box:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg) translateY(-275px);
    }

    .our_team_sec_box:nth-child(3) {
        transform: translate(-50%, -50%) rotate(90deg) translateY(-275px);
    }

    .our_team_sec_box:nth-child(4) {
        transform: translate(-50%, -50%) rotate(135deg) translateY(-275px);
    }

    .our_team_sec_box:nth-child(5) {
        transform: translate(-50%, -50%) rotate(180deg) translateY(-275px);
    }

    .our_team_sec_box:nth-child(6) {
        transform: translate(-50%, -50%) rotate(225deg) translateY(-275px);
    }

    .our_team_sec_box:nth-child(7) {
        transform: translate(-50%, -50%) rotate(270deg) translateY(-275px);
    }

    .our_team_sec_box:nth-child(8) {
        transform: translate(-50%, -50%) rotate(315deg) translateY(-275px);
    }

    .our_team_sec_box .details::after{
        width: 20px;
        height: 20px;
    }
    .our_team_sec_box:nth-child(1) .details::after {
        bottom: -9px;
    }
    .our_team_sec_box:nth-child(1) .details::before {
        height: 38px;
        bottom: -38px;
    }
    .our_team_sec_box:nth-child(2) .details::before {
        width: 50px;
    }
    .our_team_sec_box:nth-child(3) .details::before {
        width: 53px;
        top: 45%;
    }
    .our_team_sec_box:nth-child(4) .details::before {
        width: 53px;
    }

    .our_team_sec_box:nth-child(5) .details::before {
        height: 42px;
        top: -52px;
    }

    .our_team_sec_box:nth-child(6) .details::before {
        width: 49px;
    }
    .our_team_sec_box:nth-child(7) .details::before {
        width: 53px;
    }
    .our_team_sec_box:nth-child(7) .details::after {
        right: -20px;
    }
    .our_team_sec_box:nth-child(8) .details::after {
        right: -9px;
        top: 72%;
    }
    .our_team_sec_box:nth-child(8) .details::before {
        width: 44px;
    }

    .our_team_sec_box:nth-child(6) h5, .our_team_sec_box:nth-child(7) h5, .our_team_sec_box:nth-child(8) h5{
        left: -172px;
    }
}