@import "../../Assets/saas/Main.scss";

.our_team_sec {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 4px solid $ball_blue_color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h5 {
    text-align: center;
    width: max-content;
    font-size: 16px;
    font-family: "Rajdhani";
    font-weight: bold;
    cursor: pointer;
    padding: 10px 22px;
    border-radius: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 4px;

    &:hover {
      background-color: $ball_blue_color;
      color: $white_color;
    }
  }
}

.our_team_sec_box.active .details::before,
.our_team_sec_box.active .details::after {
  background-color: $ball_blue_color;
}

.our_team_sec_box.active h5 {
  background-color: $ball_blue_color;
  color: #fff;
}

.our_team_sec_box:nth-child(1) img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.our_team_sec_box img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #dbdbdb;
}

.our_team_sec_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}

.our_team_sec_box:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-400px);
}
.our_team_sec_box:nth-child(1) h5 {
  cursor: pointer;
  position: absolute;
  margin-top: -65px;
  left: 50%;
  transform: translate(-50%);
}

.our_team_sec_box:nth-child(2) {
  transform: translate(50%, -50%) rotate(54deg) translateY(-279px);
  // transform: translate(30%, -55%) rotate(50deg) translateY(-300px);
}
.our_team_sec_box:nth-child(2) .details {
  // transform: rotate(-36deg);
  transform: rotate(-54deg);
}
// .our_team_sec_box:nth-child(2) h5,
// .our_team_sec_box:nth-child(3) h5,
// .our_team_sec_box:nth-child(4) h5 {
//   position: absolute;
//   right: -206px;
//   top: 40px;
//   margin-top: 0px;
// }
.our_team_sec_box:nth-child(2) h5, .our_team_sec_box:nth-child(3) h5, .our_team_sec_box:nth-child(4) h5 {
  position: absolute;
  right: -206px;
  top: 40px;
  margin-top: 0px;
  // transform: rotate(-4deg);
}
.our_team_sec_box:nth-child(4) h5 {
  left: -180px !important;
}

.our_team_sec_box:nth-child(5) h5 {
  position: absolute;
  margin-top: 40px;
  cursor: pointer;
  left: -200px;
}

.our_team_sec_box:nth-child(3) {
  // transform: translate(-50%, -50%) rotate(72deg) translateY(-400px);
  transform: translate(-50%, -17%) rotate(111deg) translateY(-390px);
}
.our_team_sec_box:nth-child(3) .details {
  transform: rotate(249deg);
}

// .our_team_sec_box:nth-child(4) {
//   transform: translate(-50%, -50%) rotate(248deg) translateY(-400px);
// }
// .our_team_sec_box:nth-child(4) .details {
//   transform: rotate(-108deg);
// }

.our_team_sec_box:nth-child(4) {
  // transform: translate(-50%, -50%) rotate(252deg) translateY(-400px);
  transform: translate(-46%, -10%) rotate(250deg) translateY(-383px);
}
.our_team_sec_box:nth-child(4) .details {
  transform: rotate(-250deg);
}

.our_team_sec_box:nth-child(5) {
  transform:translate(-46%, -50%) rotate(294deg) translateY(-400px)
}
.our_team_sec_box:nth-child(5) .details {
  transform: rotate(427deg);
}

.our_team_sec_box:nth-child(6) {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-400px);
}
.our_team_sec_box:nth-child(6) .details {
  transform: rotate(-180deg);
}

// .our_team_sec_box:nth-child(7) {
//   transform: translate(-50%, -50%) rotate(216deg) translateY(-400px);
// }
// .our_team_sec_box:nth-child(7) .details {
//   transform: rotate(-216deg);
// }

// .our_team_sec_box:nth-child(8) {
//   transform: translate(-50%, -50%) rotate(252deg) translateY(-400px);
// }
// .our_team_sec_box:nth-child(8) .details {
//   transform: rotate(-252deg);
// }

// .our_team_sec_box:nth-child(9) {
//   transform: translate(-50%, -50%) rotate(288deg) translateY(-400px);
// }
// .our_team_sec_box:nth-child(9) .details {
//   transform: rotate(-288deg);
// }

// .our_team_sec_box:nth-child(10) {
//   transform: translate(-50%, -50%) rotate(324deg) translateY(-400px);
// }
// .our_team_sec_box:nth-child(10) .details {
//   transform: rotate(-324deg);
// }

.our_team_sec_box:nth-child(6) h5 {
  position: absolute;
  right: -15px;
  bottom: -70px;
  margin-top: 0px;
  cursor: pointer;
}


.our_team_sec_dot {
  width: 450px;
  height: 450px;
  /* border: 4px solid red; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.our_team_sec_inner_box {
  width: 450px;
  height: 450px;
  border: 4px solid #33a3d2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: $ball_blue_color;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
    // color: $white_color;
  }

  h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: $rajdhani_font;
  }
}
.our_team_sec_box .details::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #daf4fe;
  border-radius: 50%;
  transform: translate(-50%, 0px);
  background: #fff;
}

.our_team_sec_box .details::before {
  content: "";
  position: absolute;
  transform: translate(-50%, 0px);
  background: #edf7fb;
}

.our_team_sec_box:nth-child(1) .details::after {
  bottom: -16px;
  left: 50%;
}

.our_team_sec_box:nth-child(1) .details::before {
  width: 3px;
  height: 85px;
  bottom: -92px;
  left: 50%;
}



.our_team_sec_box:nth-child(2) .details::after{
bottom: -16px;
left: 3%;
top: 54%;
}
.our_team_sec_box:nth-child(2) .details::before{
  // width: 92px; height: 3.5px; bottom: 8px; transform-origin: 0; transform: rotate(129deg); left: 19px;
  width: 97px;
  height: 3.5px;
  bottom: 40px;
  transform-origin: 0;
  transform: rotate(150deg);
  left: -9px;

}

.our_team_sec_box:nth-child(3) .details::after{
  bottom: -45px;
  left: 1%;
  top: 31%;
}

.our_team_sec_box:nth-child(3) .details::before{
  width: 120px;
  height: 3px;
  bottom: 0;
  transform-origin: 0;
  transform: rotate(205deg);
  left: 0;
  top: 42%;
}

.our_team_sec_box:nth-child(4) .details::after {
  top: 54px;
  right: -23%;
  bottom: 25%;

  // bottom: 0px;
  //  right: -28px;
  //   top: 25%;
}
.our_team_sec_box:nth-child(4) .details::before {
  width: 128px;
  height: 3px;
  top: 48px;
  transform: rotate(160deg);
  right: 0px;
  left: 126px;
}

.our_team_sec_box:nth-child(5) .details::after {
  bottom: 43px;
  right: -28px;

}
.our_team_sec_box:nth-child(5) .details::before {
  width: 112px;
    height: 3px;
    transform-origin: 0;
    transform: rotate(37deg);
    left: 133px;
    top: 80px;
}

.our_team_sec_box:nth-child(6) .details::after {
  bottom: 0px;
  right: 36px;
  top: -11%;
}
.our_team_sec_box:nth-child(6) .details::before {
  width: 107px;
  height: 3px;
  bottom: 0;
  transform-origin: 0;
  transform: rotate(270deg);
  left: 52%;
  top: 0%;
}

// .our_team_sec_box:nth-child(7) .details::after{
//   bottom: 0px;
//   top: 0%;
//   right: -1%;
// }

// .our_team_sec_box:nth-child(7) .details::before{
//   width: 114px;
//   height: 3.5px;
//   bottom: 0;
//   transform-origin: 0;
//   transform: rotate(307deg);
//   left: 79%;
//   top: 12px;
// }

// .our_team_sec_box:nth-child(8) .details::after{
//   bottom: 0px;
//   right: -28px;
//   top: 25%;
// }

// .our_team_sec_box:nth-child(8) .details::before{
//   width: 102px;
//   height: 3px;
//   bottom: 0;
//   transform-origin: 0;
//   transform: rotate(330deg);
//   right: -112px;
//   top: 30%;
// }

// .our_team_sec_box:nth-child(9) .details::after{
//   bottom: 0px;
//   right: -28px;
//   top: 38%;
// }

// .our_team_sec_box:nth-child(9) .details::before{
//   width: 102px;
//   height: 3px;
//   bottom: 0;
//   transform-origin: 0;
//   transform: rotate(20deg);
//   right: -112px;
//   top: 52%;
// }

// .our_team_sec_box:nth-child(10) .details::after{
//   right: -2px;
//   bottom: 0;
// }

// .our_team_sec_box:nth-child(10) .details::before{
//   width: 102px;
//   height: 3px;
//   bottom: 0;
//   transform-origin: 0;
//   transform: rotate(56deg);
//   right: -82px;
// }

#tsparticles {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tsparticles canvas {
  border-radius: 50%;
}

//@@@@@@@ Media Query @@@@@@@




@media screen and (max-width:767px){
  .our_team_sec, .our_team_sec_inner_box {
    width: 170px;
    height: 170px;}
    .our_team_sec_box img, .our_team_sec_box .details::before, .our_team_sec_inner_box span{display: none;}
    .our_team .row > div{
      height: 400px !important;
    }
    .our_team_sec_box h5{    width: 74px;}
    .our_team_sec_box:nth-child(2) {
      transform: translate(50%, -50%) rotate(54deg) translateY(-90px); }
  .our_team_sec_inner_box h4{line-height: 20px; font-size: 17px;}

  // Shravan Css
  .our_team_sec_box:nth-child(1) { transform: translate(-50%, -50%) rotate(0deg) translateY(-82px);}
  .our_team_sec_box:nth-child(1) h5{    margin-top: -70px;}

  // Krishna Css
  .our_team_sec_box:nth-child(2) h5{ right: -98px; top: -8px;}
  .our_team_sec h5{font-size: 9px !important; padding: 10px 10px;}

  // Nitesh Css
  .our_team_sec_box:nth-child(3) { transform: translate(-50%, -17%) rotate(111deg) translateY(-75px);}
  .our_team_sec_box:nth-child(3) h5{right: -102px; top: 11px;}

  // Praveen D
  .our_team_sec_box:nth-child(6) {transform: translate(-50%, -50%) rotate(128deg) translateY(-34px);}
  .our_team_sec_box:nth-child(6) .details{    transform: rotate(232deg);}
  .our_team_sec_box:nth-child(6) h5{ right: -10px; bottom: -132px;}
  .our_team_sec_box:nth-child(6) .details::after { bottom: 0px; right: -1px; top: 47px;}

 // Suchi Css
 .our_team_sec_box:nth-child(4) {transform: translate(-46%, -10%) rotate(279deg) translateY(-11px);}
 .our_team_sec_box:nth-child(4) h5 {left: -94px !important; top: 115px; transform: rotate(-29deg);}

 // Gauri Prasad
 .our_team_sec_box:nth-child(5) {transform: translate(-46%, -50%) rotate(294deg) translateY(-40px);}
 .our_team_sec_box:nth-child(5) .details::after { bottom: 13px; right: 4px; }
 .our_team_sec_box:nth-child(5) h5{    top: -87px;}
 #tsparticles{display: none;}

 .our_team_sec_dot{display: none;}
}

@media screen and (min-width:768px) and (max-width:1200px){
  .our_team_sec{width: 450px; height: 450px;}
  .our_team_sec_inner_box{width: 400px; height: 400px;}
  .our_team_sec_box img{width: 100px !important; height: 100px !important;}


  .our_team_sec_box:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-329px);
}
  .our_team_sec_box:nth-child(1) .details::before{ height: 56px;
    bottom: -105px;}
    .our_team_sec_box img{display: none;}
    .our_team_sec_box:nth-child(1) .details::after{bottom: -55px;}
    .our_team_sec_box:nth-child(1) h5 {
      margin-top: -32px;
      transform: translate(-56%);
  }

  .our_team_sec_box:nth-child(2) .details::before{ width: 36px; bottom: -22px; transform: rotate(138deg);}
  .our_team_sec_box:nth-child(2) h5{ right: -124px;
    top: -72px;}

    .our_team_sec_box:nth-child(3) { transform: translate(-50%, -17%) rotate(111deg) translateY(-190px);}
  .our_team_sec_box:nth-child(3) .details::before{    width: 52px;}
  .our_team_sec_box:nth-child(3) {transform: translate(-50%, -17%) rotate(111deg) translateY(-277px);}
  .our_team_sec_box:nth-child(3) .details::after{    margin-top: -12px;}
  .our_team_sec_box:nth-child(3) h5{ right: -94px; top: 54px;}

    .our_team_sec_box:nth-child(6) {transform: translate(-50%, -50%) rotate(180deg) translateY(-270px);}
    .our_team_sec_box:nth-child(6) .details::before{width: 49px;}
    .our_team_sec_box:nth-child(6) .details::after{right: -29px;}
    .our_team_sec_box:nth-child(6) h5{    right: -44px; bottom: -100px;}

    .our_team_sec_box:nth-child(4){ transform: translate(-46%, -10%) rotate(250deg) translateY(-193px);}
    .our_team_sec_box:nth-child(4) h5{ top: 77px;}
    .our_team_sec_box:nth-child(4) .details::before {
      width: 45px;
      top: 25px;
      left: -68px;
  }
  .our_team_sec_box:nth-child(4) .details::after {
    top: 23px;
    transform: translateX(-62px);
}
.our_team_sec_box:nth-child(5) {
  transform: translate(-46%, -50%) rotate(294deg) translateY(-245px);
}
.our_team_sec_box:nth-child(5) .details::before {
  width: 48px;
  left: 0;
  top: -58px;
}
.our_team_sec_box:nth-child(5) .details::after {
  bottom: 43px;
  right: -28px;
}
.our_team_sec_box:nth-child(5) h5{    margin-top: -131px;}
.our_team .row > div{
  height: 850px !important;
}
}