.achivemntdetails_bg_box{
    background-color: #d5d5d5;
}
.achivmentdetail_img_box img{
    padding-top: 20px;
    // padding-left: 156px;
}
.achivmentdetail_img_box h2{
    font-size: 28px;
    padding-left: 50px;
    padding-top: 26px;
}