@import "../../../Assets/saas/Main.scss";

// automation starts
.cloud_native_content {
  position: relative;
  content: "";
}
.automation {
  padding-top: 80px;
  padding-bottom: 80px;
}

.automation_right_content_list ::before {
  position: absolute;
  content: "";
  background-image: url("../../../Assets/images/check-mark\ \(2\).png");
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-left: -34px;
}
.automation_right_content_list ul {
  line-height: 40px;

  li {
    list-style: none;
  }
}

// automation ends

// pillar_section
.pillar_section {
  background-image: url("../../../Assets/images/pillar_bg_img.png");
  padding-top: 80px;
  padding-bottom: 80px;
  background-size: cover;
}

.pillar_heading{
  p {
    color: #fff;
    padding-top: 15px;
  }
  h1 {
    color: #fff;
    font-family: $rajdhani_font;
    font-weight: 700;
    line-height: 20px;
  }
}

.pillars_box {
  // box-shadow: 0 2px 20px black;
  background: #fff;
  padding: 30px 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pillars_box_img {
  display: flex;
  justify-content: center;
 img {
    width: 60px ;
    height: 60px ;
  }
}

.pillar_title p {
  font-size: 24px;
  font-family: "Rajdhani";
  font-weight: 700;
  padding-top: 20px;
  color: #616161 !important;
}
