@import "../../../Assets/saas/Main.scss";

// automation starts
.cloud_native_content {
  position: relative;
  content: "";
}
.automation {
  padding-top: 80px;
  padding-bottom: 80px;
}

.automation_right_content_list ::before {
  position: absolute;
  content: "";
  background-image: url("../../../Assets/images/check-mark\ \(2\).png");
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-left: -34px;
}
.automation_right_content_list ul {
  line-height: 40px;

  li {
    list-style: none;
  }
}

// automation ends

// pillar_section
.pillar_section {
  background-image: url("../../../Assets/images/pillar_bg_img.png");
  padding-top: 80px;
  padding-bottom: 80px;
  background-size: cover;
}

.pillar_heading {
  p {
    color: #fff;
    padding-top: 15px;
  }
  h1 {
    color: #fff;
    font-family: $rajdhani_font;
    font-weight: 700;
    line-height: 20px;
  }
}

.pillars_box {
  // box-shadow: 0 2px 20px black;
  background: #fff;
  padding: 30px 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pillars_box_img {
  display: flex;
  justify-content: center;
  img {
    width: 60px;
    height: 60px;
  }
}

.pillar_title p {
  font-size: 24px;
  font-family: "Rajdhani";
  font-weight: 700;
  padding-top: 20px;
  color: #616161 !important;
  text-align: center;
}

.pillar_box {
  position: relative;
}

.pillar_box::after {
  content: "";
  position: absolute; /* Position the pseudo-element absolutely within the .pillar_box */
  bottom: 0; /* Position the pseudo-element at the bottom */
  left: 0; /* Position the pseudo-element at the left */
  right: 0; /* Stretch the pseudo-element to the right edge */
  height: 5px; /* Set the desired border height */
  background-color: rgb(110, 110, 176); /* Set the color of the border */
  transition: width 0.3s ease-in-out; /* Smoothly animate the width change on hover */
  width: 0; /* Initially hide the border */
}

.pillar_box:hover::after {
  width: 100%;
}

// mobile deveopment

.mobile_section{
    padding-top: 80px;
    padding-bottom: 80px;
}



.andriod_app {
  background: #f2f2f2;
  padding: 40px 20px;
  text-align: center;
}
.mobile_application_img img {
  width: 75px;
}

.mobile_application_heading {
  padding-top: 20px;

  h5 {
    font-family: $rajdhani_font;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.ios_app {
  background: #ededed;
  text-align: center;
  padding: 40px 20px;
}
.cross_platform{
     background: #e7e7e7;
     padding: 40px 20px;
     text-align: center;
 }

 // application
.application_section{
    padding-top: 80px;
    padding-bottom: 80px;
}
 .application_main_heading{
    position: relative;
    content: "";
 }

 .application_integration ul{
    line-height: 35px;
 }

 .application_integration li::before{
    position: absolute;
    content: "";
    background-image: url('../../../Assets/images/application_integration_list_rightarrow.png');
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-left: -30px;
    margin-top: 10px;

 }


 //RPA   STARTS

  
.rpa_offering_section{
  padding-top: 80px;
  padding-bottom: 80px;
}

 .left_boxes_rpa{
  border-right: 1px solid black;
  box-shadow: 0 2px 2px #0f0e0e5c;
  border-radius: 5px;
  padding-right: 0px;
}
 .rpa_box_left{
  border-bottom: 1px solid black;
    /* box-shadow: 0 2px 20px #0000005c; */
    padding: 20px;

    .rpa_imgs{
      display: flex;
      justify-content: center;

      img{
        width: 50px;
      }
    }

    .rpa_heading h4{
      font-family: 'Rajdhani';
      font-weight: 700;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;

    }
 }

 .right_boxes_rpa{
  box-shadow: 0 2px 2px #0f0e0e5c;
    border-radius: 5px;
    padding-left: 0;

   .rpa_box_right{
      border-bottom: 1px solid black;
    padding: 20px;
min-height: 280px;
    

    }
    .rpa_imgs{
      display: flex;
      justify-content: center;

      img{
        width: 50px;
      }
    }
    .rpa_heading h4{
      font-family: 'Rajdhani';
      font-weight: 700;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;

    }
 }