@import '../../../Assets/saas/Main.scss';

.automation{
    padding-top: 80px;
    padding-bottom: 80px;
}
.automation_right_content_list ul{
    line-height: 35px;
    

    li{
        list-style: none;
    }
}