@import "../../../Assets/saas/Main.scss";

// .sec_heading{
//     color:$ball_blue_color;
//     font-family: $rajdhani_font;
//     font-weight: 700;
// }
.sec_para {
  color: rgb(17, 17, 17);
  font-family: inherit;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.paragraph {
  color: white;
  padding-top: 18px;
  font-size: 16px !important;
  height: 47px;
}
// .migration_heading{
//     color:$ball_blue_color;
//     font-family: $rajdhani_font;
//     font-weight: 700;
//     padding-bottom: 20px;
// }
// .integration_img_left{
//     padding-left: 100px;
//     // width: 600px;
// }

.integration_coe_left {
  padding-right: 80px;
}
.overview_sec_left {
  padding-right: 80px;
}
.overview_sec {
  padding-top: 80px;
}
.integration_img_right {
  width: 100%;
}
.integration_consulting_img {
  width: 100%;
}
.integration_img {
  width: 100%;
}
.integration_coe_img {
  width: 100%;
}
.integration_img_left {
  width: 100%;
}
.integration_img {
  width: 100%;
}
.software_logo_section{
  img{width: 170px;}
}
.sec_button {
  height: 40px;
  width: 165px;
  background-color: #ffb656;
  border: none;
  text-decoration: none;
}

.data-visualization-para {
  margin-top: 100px;
  height: 150px;
  width: 150px;
  color: #555;
  background-size: contain;
}
.heading-1 {
  color: #111111;
  font-size: 42px;
  font-weight: 600;
  margin-top: 300px;
}
.paragraph-1 {
  color: #555555;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}
.section_para h4 {
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 4px;
}
.section_para p {
  color: #555555;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.section_parent {
  display: flex;
  /* vertical-align: baseline; */
}
.section_img {
  padding-right: 15px;
}
.section_img img {
  vertical-align: baseline;
}
.section_bar {
  height: 30px;
  width: 100%;
  background-color: lightblue;
}
.partner_logo_section {
  padding: 5px 0px 5px 0px;

  img{width: 170px;}
  // background-image: linear-gradient(to top,#ffffff,#b5d9ef);
}
.integration_consulting_sec {
  padding-top: 80px;
  padding-bottom: 80px;
}
.service_stickmenu_list a {
  padding: 20px 30px !important;



}
.active-scroll-spy {
  background-color: #24688f !important;
  border-radius: 0px !important;
}
// .integration_coe{
//     color:$ball_blue_color;
//     font-family: $rajdhani_font;
//     font-weight: 700;

// }
// .managed_servives_heading{
//     color:$ball_blue_color;
//     font-family: $rajdhani_font;
//     font-weight: 700;

// }

.managed_services_sec {
  padding-top: 80px;
  padding-bottom: 80px;
}
.managed_services_left {
  padding-right: 80px;
}
// .intergration_list ::before{
//     position:absolute;
//     content: url('../../Assets/images/check\ icon\ psd.png');

// }
.intergration_list {
  list-style-type: none;
}
.integration_coe p {
  color: #111111;
  font-weight: 200;
}
.Migration_Services {
  color: $ball_blue_color;
  text-align: center;
  padding-bottom: 15px;
}

.why_need_integration_sec {
  padding-bottom: 80px;
}
.why_need_integration_right {
  padding-left: 80px;
}
.body_sec_three_consulting {
  padding-top: 58px;
}
.integration_consulting_left {
  display: flex;
}

// .intergration_list li{
//     font-family: inherit;
//     padding-top: 5px;

// }

.intergration_list li::before {
  position: absolute;
  content: "\f111";
  margin-left: -25px;
  font-family: "FontAwesome";
  width: 15px;
  height: 15px;
  background: #32a4d533;
  font-size: 9px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  color: #32a4d5;
  margin-top: 5px;
}
.intergration_list li {
  // font-family: inherit;
  padding-bottom: 15px;
  line-height: 25px;
  // margin-left: -6px;
}
.intergration_list_two {
  padding-right: 10px;
}
.integration_consulting_right {
  padding-left: 80px;
}
.partner_logo_tab {
  // border-top: 1px dashed #c9c9c9;
  padding-top: 35px;
  padding-bottom: 35px;
  // border-bottom: 1px dashed #c9c9c9;
}

.integration_planning_banner {
  background-image: url(../../../Assets/images/planning_banner.png);
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 40px;
  background-attachment: fixed;
  margin-top: 40px;
  // margin-bottom: 40px;

  .integration_left_planning_banner_content {
    margin-bottom: 30px;
  }
  .integration_left_planning_banner_content h3 {
    
    color: #fff;
    // text-decoration: underline;
    font-family: $rajdhani_font;
    font-weight: 700;
  }

  .integration_right_planning_banner_content {
    margin-bottom: 0px;

    .integration_lets_meet_us_button {
      padding: 18px 35px;
      background: #33a3d2;
      color: white;
      border-radius: 5px;
      font-family: $rajdhani_font;
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: 700;
      display: inline-block;
    }
    .integration_lets_meet_us_button:hover {
      background-color: $white_color;
      color: $light_navy_blue;
      text-decoration: none;
    }
  }
}

ul {
  list-style: none;
}

// .software_logo_section {
//   padding-top: 80px;
//   background-image: linear-gradient(to top,#ffffff,#b5d9ef);
// }

.integration_right_sec {
  position: relative;
  content: "";
}

// .intergration_list li::before{
//     position: absolute;
//     content: "";
//     background-image: url('../../../Assets/images/check\ icon\ psd.png');
//     background-size: contain;
//     width: 30px;
//     height: 30px;
//     line-height: 30px;
//     margin-left: -35px;
// }

ul {
  padding-left: 23px;
}
.integartion_coe_sec {
  padding-top: 80px;
}
.mySwiper {
  //   border-top: 1px dashed #c9c9c9;
  padding-top: 25px;
  padding-bottom: 25px;
  //   border-bottom: 1px dashed #c9c9c9;
}
.active-scroll-spy {
  background-color: #041d26;
  border-radius: 15px;
}

// responsive start
@media screen and (max-width: 480px) {
  .overview_sec {
    padding-top: 40px;
    padding-right: 0px !important;
  }
  .overview_sec_left {
    padding-right: 0px !important;
  }

  .why_need_integration_right {
    padding-left: 0px;
  }
  .managed_services_left {
    padding-left: 10px;
  }
  .why_need_integration_sec {
    padding-top: 0px;
    padding-bottom: 40px;
  }
  .partner_logo_section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .integartion_coe_sec {
    padding-top: 40px;
  }
  .partner_logo_tab {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .why_need_integration_right {
    padding: 10px;
    padding-top: 30px;
  }

  .integration_consulting_right {
    padding-left: 0px;
    padding-top: 40px;
  }
  .managed_servives_heading {
    font-family: "Rajdhani";
    font-weight: 700;
    padding-left: 11px;
  }

  .managed_services_sec {
    padding-bottom: 40px;
    // padding-top:40px;
  }
  .integration_planning_banner {
    margin-top: 40px;
  }
  .software_logo_section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
 
  .integration_consulting_sec {
    padding-top: 40px;
  }

  .managed_services_left p {
    

    padding-left: 11px;
  }

  .intergration_list {
    line-height: 31px;
    line-height: 28px;
  }
 

  .migration_heading {
    font-size: 42px;
    font-weight: bold;
  }

  .integration_planning_banner .integration_left_planning_banner_content h3 {
    font-size: 18px !important;
    color: #fff;
    text-decoration: underline;
    line-height: 24px !important;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
  }
  .integration_planning_banner
    .integration_right_planning_banner_content
    .integration_lets_meet_us_button {
    padding: 10px 18px;
  }
  .integration_planning_banner {
    padding-top: 46px;
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* For Mobile Landscape Screen  */
  .overview_sec {
    padding-right: 0px !important;
    padding-top: 40px;
  }
  .partner_logo_section {
    padding: 40px 0px;
  }
  .partner_logo_tab {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .why_need_integration_right {
    padding-left: 0px;
  }
  .integartion_coe_sec {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .why_need_integration_sec {
    padding-bottom: 40px;
  }
  .integration_planning_banner {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .integration_consulting_sec {
    padding-top: 40px;
  }
  .integration_consulting_right {
    padding-left: 0px;
  }
  .software_logo_section {
    padding: 40px 0px;
  }
  .managed_services_left {
    padding-top: 40px;
    padding-left: 0px;
  }
  .managed_services_sec {
    padding-bottom: 40px;
  }
  .integration_planning_banner {
    margin-top: 0px;
    padding-top: 0px;
  }
  .integration_planning_banner .integration_left_planning_banner_content {
    margin-bottom: 0px;
  }

  
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* For Tab Screen  */
  .paragraph {
    padding-top: 18px;
    font-size: 9px;
    height: 47px;
  }
  .why_need_integration_right {
    padding-left: 36px;
  }

  .integartion_coe_sec {
    padding-left: 36px;
    padding-top: 40px;
  }
  .integration_consulting_right {
    padding-left: 36px;
  }
  .managed_services_sec {
    padding-bottom: 40px;
    padding-left: 36px;
  }
  .integration_consulting_sec {
    padding-top: 40px;
  }
  .integration_planning_banner {
    margin-top: 40px;
  }
  .partner_logo_section {
    padding: 20px 0px 20px 0px;
  }
  .partner_logo_tab {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .why_need_integration_sec {
    padding-bottom: 40px;
  }
}


// responsive end
.overview_sec_left h3{
  font-family: $rajdhani_font;
  font-weight: bold;
  font-size: 42px;
}
