$heading_title:42px;
$heading_title32:32px;
$sub_heading:22px;
$subheading_title:20px;
$para_text:16px;
$font13:13px;
$font14:14px;
$font18:18px;
$rajdhani_font: 'Rajdhani', sans-serif;
$roboto_font: 'Roboto', sans-serif;
