@import "../../Assets/saas/Main.scss";
.privacy_policy_intro_para{
    padding-top:80px;
}

.legal_basis_for_processing_section{
margin-top:60px;
border-bottom: 1px dashed #dbdbdb;
margin-bottom: 20px;
padding-bottom: 20px;

}
.privacy_policy_intro_para{
    border-bottom: 1px dashed #dbdbdb;
margin-bottom: 40px;
padding-bottom: 40px;


}
.information_we_collect_section{
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 40px;
    padding-bottom: 40px;
    

}
.Personal_Information_para{
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 40px;
    padding-bottom: 40px;
    

}
.consent_para{
    padding-left: 32px;
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
.Contractual_necessity_para{
    padding-left: 32px;
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
.analytics_para{
    padding-left: 32px;
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 40px;
    padding-bottom: 40px;

}
.providing_service_para{
    padding-left: 32px;
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.communiaction_para{
    padding-left: 32px;
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
.Third_Party_Service_Providers_para{
    padding-left: 32px;
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.Legal_Compliance_para{
    padding-left: 32px;
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
.data_retrntion_para{
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 40px;
    padding-bottom: 40px;

}
.security_para{
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 40px;
    padding-bottom: 40px;

}
.your_right_para{
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 40px;
    padding-bottom: 40px;

}
.compliants_para{
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 40px;
    padding-bottom: 40px;

}
.update_to_this_policy_para{
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 40px;
    padding-bottom: 40px;

}
.contact_information_para{
    
    padding-bottom: 90px;

}


.Personal_Information{
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;
}
.Usage_Information{


    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}
.legal_basis_for_provessing{
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}
.use_of_information_heading{
    margin-top: 60px;
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}
.sharing_of_information_heading{
    margin-top: 60px;
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}
.data_retrntion_heading{
    margin-top: 60px;
    font-family: $rajdhani_font;
    font-size: $heading_title32;
    font-weight: 700;

}
.security_heading{
    // margin-top: 60px;
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}
.your_rights_heading{
    // margin-top: 60px;
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}
.complaints_heading{
    // margin-top: 60px;
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}
.update_to_this_policy_heading{
    // margin-top: 60px;
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}
.contact_information_heading{
    // margin-top: 60px;
    font-size: $heading_title32;
    font-family: $rajdhani_font;
    font-weight: 700;

}

.consent_heading{
padding-left: 32px;       
font-size: 23px;
font-weight: 700;
margin-bottom: 7px;
font-family: "Rajdhani", sans-serif;

}
.Contractual_necessity_heading{
padding-left: 32px;
font-size: 23px;
font-weight: 700;
margin-bottom: 7px;
font-family: "Rajdhani", sans-serif;

}
.Legal_Obligations_heading{
padding-left: 32px;
font-size: 23px;
font-weight: 700;
margin-bottom: 7px;
font-family: "Rajdhani", sans-serif;

}
.Legal_Obligations_para{
padding-left: 32px;
}
.providing_services_heading{
padding-left: 32px;
font-size: 23px;
font-weight: 700;
margin-bottom: 7px;
font-family: "Rajdhani", sans-serif;

}
.communication_heading{
padding-left: 32px;
font-size: 23px;
font-weight: 700;
margin-bottom: 7px;
font-family: "Rajdhani", sans-serif;

}
.analytics_heading{
padding-left: 32px;
font-size: 23px;
font-weight: 700;
margin-bottom: 7px;
font-family: "Rajdhani", sans-serif;

}
.Third_Party_Service_Providers_heading{
padding-left: 32px;
font-size: 23px;
font-weight: 700;
margin-bottom: 7px;
font-family: "Rajdhani", sans-serif;

}
.Legal_Compliance_heading{
padding-left: 32px;
font-size: 23px;
font-weight: 700;
margin-bottom: 7px;
font-family: "Rajdhani", sans-serif;


}
// .Personal_Information h4::before {
//     position: absolute;
//     content: "\f111";
//     margin-left: -30px;
//     font-family: "FontAwesome";
//     width: 15px;
//     height: 15px;
//     background: #32a4d533;   
//     font-size: 9px;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 15px;
//     color: #32a4d5;
//     margin-top: 11px;
//   }  

// .data_retrntion_section h4::before {
//     position: absolute;
//     content: "\f111";
//     margin-left: -30px;
//     font-family: "FontAwesome";
//     width: 15px;
//     height: 15px;
//     background: #32a4d533;   
//     font-size: 9px;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 15px;
//     color: #32a4d5;
//     margin-top: 11px;
//   }
// .security_heading h4::before {
//     position: absolute;
//     content: "\f111";
//     margin-left: -30px;
//     font-family: "FontAwesome";
//     width: 15px;
//     height: 15px;
//     background: #32a4d533;   
//     font-size: 9px;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 15px;
//     color: #32a4d5;
//     margin-top: 11px;
//   }
//   .your_rights_section h4::before {
//     position: absolute;
//     content: "\f111";
//     margin-left: -30px;
//     font-family: "FontAwesome";
//     width: 15px;
//     height: 15px;
//     background: #32a4d533;  
//     font-size: 9px;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 15px;
//     color: #32a4d5;
//     margin-top: 11px;
//   }

//   .complaints_heading h4::before {
//     position: absolute;
//     content: "\f111";
//     margin-left: -30px;
//     font-family: "FontAwesome";
//     width: 15px;
//     height: 15px;
//     background: #32a4d533;  
//     font-size: 9px;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 15px;
//     color: #32a4d5;
//     margin-top: 11px;
//   }
//   .update_to_this_policy_heading h4::before {
//     position: absolute;
//     content: "\f111";
//     margin-left: -30px;
//     font-family: "FontAwesome";
//     width: 15px;
//     height: 15px;
//     background: #32a4d533; 
//     font-size: 9px;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 15px;
//     color: #32a4d5;
//     margin-top: 11px;
//   }
//   .contact_information_heading h4::before {
//     position: absolute;
//     content: "\f111";
//     margin-left: -30px;
//     font-family: "FontAwesome";
//     width: 15px;
//     height: 15px;
//     background: #32a4d533;
//     font-size: 9px;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 15px;
//     color: #32a4d5;
//     margin-top: 11px;
//   }