
.form-control:focus {
    // color: var(--bs-body-color); 
    // background-color: var(--bs-body-bg); 
    // border-color: #86b7fe; 
    outline: 0;
    box-shadow: none;
    // box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.contact_section{
    background: #faf4f4;
    padding-top: 10px;
    // padding-bottom: 100px;
input{
    padding: 15px 25px;
    border-radius: 2px !important;
}
}