@import "../../../Assets/saas/Main.scss";

.why_choose_app_dev_sec{
    padding: 80px 0;
}

.app_dev_icon_with_text{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.app_dev_icon_with_text{
    img{
        width: 50px;
        margin-right: 20px;
    }
    h5{font-size: 18px;}
}

@media screen and (max-width:767px){
    .why_choose_app_dev_sec{
        padding: 40px 0;
    }
}