@import "../../Assets/saas/Main.scss";

.subscription_content_box_area {
  padding: 40px 80px;
}

.subscription_form{
  display: flex;
 > div{
    width: 100%;
  }
  .input-group-text{    
    height: 65px;
    border-radius: 0px;
    padding-left: 30px;
    background: #fff;
    border: 1px solid #fff;
    padding-right: 5px;
    svg{
      font-size: 18px;
      margin-top: 2px;
    }
  }

    input{
      height: 65px;
    border: none;
    border-radius: 0px;
    }

    input:focus{
      border: none;
      box-shadow: none;
      outline: none;
    }

    button{
      padding: 10px 40px;
    font-family: $rajdhani_font;
    font-weight: bold;
    text-decoration: underline;
    font-size: 17px;
    border-radius: 3px;
    margin-left: -60px;
    z-index: 99;
    height: 50px;
    margin-top: 8px;
    background: $light_navy_blue;
    border: none;
    }
    button:hover{
      background-color: #000;
      color: $white_color;
    }
}

.subscription_content_box .left_content .heading_title {
  margin-bottom: 0px;
  color: #fff;
}

.footer_section a {
  text-decoration: none;
  color: $light_ball_blue_color;
  position: relative;
}

.footer_link a:before {
  content: "\f111";
  position: absolute;
  margin-left: -20px;
  font-family: "FontAwesome";
  font-size: 9px;
  margin-top: 7px;
}

.footer_link a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #97cff0;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.footer_link a:hover {
  color: $white_color;
}

.footer_link a:hover:after {
  width: 100%;
  transition: 0.7s;
  background-color: $white_color;
}

.footer_link ul {
  list-style: none;
  padding-left: 20px;
}

.footer_section {
  background-image: url("../../Assets/images/footer_bg.jpg");
  background-size: cover;
  margin-top: -100px;
}

.ftr_bottom {
  border-top: 1px solid #81c1de;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social_media {
  display: flex;
  gap: 20px;
  justify-content: end;
}

.contact_hover a:hover {
  color: $white_color;
  text-decoration: underline;
}

.ftr_col1 h4 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 26px;
  line-height: 37px;
  color: $white_color;
  font-family: $rajdhani_font;
}
.ftr_col1 ul {
  list-style: none;
  padding-left: 4px;
}

footer h5 {
  font-size: 25px;
  margin-bottom: 30px;
  font-family: $rajdhani_font;
  color: $white_color;
  font-weight: bold;
  text-decoration: underline;
}

.ftr_top {
  padding: 180px 0 50px 0;
}

.ftr_bottom p {
  color: $white_color;
}


@media screen and (max-width:480px){
  .subscription_content_box_area{padding: 40px 0px;}
}

@media screen and (max-width: 767px) {
  footer .col-md-3 {
    margin-bottom: 30px;
  }
  .ftr_top {
    padding: 30px 0 0px 0;
  }
  .ftr_bottom {
    border-top: 1px solid #81c1de;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    p {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
  .social_media {
    justify-content: center;
  }

  .left_subscription_content_box .left_content_icon{display: none;}
  .left_subscription_content_box .left_content{margin-bottom: 10px;}
  .footer_section{margin-top: 0px;}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer_section .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }
  .subscription_content_box_area{
    padding: 40px 30px;
  }
  .subscription_footer .left_content_icon{display: none;}
}

@media screen and (min-width: 1024px) {
  footer .col-md-3:first-child {
    width: 30% !important;
  }
  footer .col-md-3 {
    width: 23% !important;
  }
  .ftr_col1 h4 {
    padding-right: 50px;
  }
}
.ftr_addr p:before {
  content: "\f041";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 15px;
  color: $light_ball_blue_color;
  margin-left: -20px;
}

.ftr_addr p {
  color: $light_ball_blue_color;
  padding-left: 20px;
}

.subscription_footer {

  .subscription_box {
    background-image: url(../../Assets/images/Subscription_bg_footer.png);
    z-index: 999;
    position: relative;
  }
 
  .left_content {
    display: flex;
    align-items: center;
  }

  .left_content_icon {
    font-size: 90px;
    line-height: 1;
    margin-right: 40px;
  }
}

.right_subscription_content_box {
  .subscription_mailaddress_form {
    padding-left: 40px;
    .form_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2px;
    }
  }
}
