.TimelineNavWrapper-sc-1apb8f9-0 jGdIlj timeline-controls rc-controls{
    display: none !important;
}

.TimelineControlContainer-sc-1apb8f9-3 {
    display: none !important;
}

.Inception{
    padding-top: 80px;
    padding-bottom: 80px;
}
.jaQaOm {
    font-size: 16px !important;
    font-family: 'Rajdhani' !important;
    font-weight: 600 !important;
    margin: 0;
    width: 100%;
    color: #000;
}

.bXpluN {
    align-items: center;
    display: flex;
    width: 32%;
}

.gJAGSz{
    background: #33a3d3 !important;
    color: #fff !important;

}