
@import '../../../Assets/saas/Main.scss';

// .TimelineNavWrapper-sc-1apb8f9-0 jGdIlj timeline-controls rc-controls{
//     display: none !important;
// }

// .TimelineControlContainer-sc-1apb8f9-3 {
//     display: none !important;
// }

// .Inception{
//     padding-top: 80px;
//     padding-bottom: 80px;
// }
// .jaQaOm {
//     font-size: 16px !important;
//     font-family: 'Rajdhani' !important;
//     font-weight: 600 !important;
//     margin: 0;
//     width: 100%;
//     color: #000;
//     font-family: roboto !important;
//     font-weight: 400 !important;
// }
// .gJAGSz{
//     padding: 20px 40px !important;
//    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0 0);
// }

// .erdVAe::before{
//     background: $ball_blue_color !important;
// }
// .erdVAe::after{
//     background:$ball_blue_color !important;
// }
// .eczmnE:not(.using-icon){
//     background: $ball_blue_color !important;
//     border: 3px solid #fff;
// }
// .UGBvC .MKRaZ {
//     color: #000000eb;
//     font-size: 20px;
//     font-weight: 600;
//     margin: 0;
//     text-align: left;
//     width: 95%;
//     font-family: rajdhani;
//     font-size: 24px;
//     font-weight: bold;
// }

// .gKcDzI{
//     min-height: 0 !important;
// }

// .iiIORr{
//     margin: 0px !important;
// }
// .duijVK .hthIVH{
//     min-height: 0px !important;
//     padding: 30px;
//     box-shadow: 0px 2px 20px #0000001a;
// }
// .gJAGSz{
//     background: #33a3d3 !important;
//     color: #fff !important;

// }


// our_values

// .core_values{
//     // padding-top: 80px;
//     padding-bottom: 80px;
// }
// .our_values{
//     padding-top: 12px;
// }
// .core_value_box{
//     box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
//    padding: 30px;
//    border-radius: 5px;
//    min-height: 255px;
//    margin-bottom: 5px;
  

// }


.title{
    padding-bottom: 20px;
    margin-top: -20px;
 p{
    padding-top: 20px;
    font-size: 24px;
    color: #252525;
    font-family:$rajdhani_font;
    font-weight: 700;


  
}
}

.title img{
    width: 60px;
}

  .core_value_box:hover{
    transform: scale(1.05, 1.04);
     transition: .4s;
  }


// @keyframes up {

//         0% {
//             transform: translateY(0);
//           }
//           20% {
//             transform: translateY(-2%);
//           }
//           100% {
//             transform: translateY(0);
//           }
        
     
// }
@media screen and (max-width:480px){
    .inception_section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .circle {
        width: 100px !important;
        border-radius: 50% !important;
        background-color: #32a4d5 !important;
        color: #fff !important;
        z-index: 2 !important;
        height: 50px !important;
        line-height: 50px !important;
        font-size: 8px !important;
    }
    .core_values {
        padding-bottom: 40px;
    }
    
}

@media screen and (min-width:481px) and (max-width:767px){

    .inception_section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .core_values {
        padding-bottom: 40px;
    }
 
    /* For Mobile Landscape Screen  */
    .core_value_box {
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1) !important;
        padding: 30px !important;
        border-radius: 5px !important;
        min-height: 200px !important;
        margin-bottom: 5px !important;

        p {
            // padding-top: 20px;
            // font-size: 22px;
            // color: #252525;
            // font-family: "Rajdhani", sans-serif;
            // font-weight: 700;
            // text-decoration: underline;
            margin-top: -12px !important;
        }
    }

    circle {
        width: 80px !important;
        border-radius: 50% !important;
        background-color: #32a4d5 !important;
        color: #fff !important;
        z-index: 2 !important;
        height: 80px !important;
        line-height: 80px !important;
        font-size: 12px !important;
    }

    
    
}

