@import "../../Assets/saas/Main.scss";

.blog_page{
    margin-top: 50px;
    background: #f8f8f8d9;

// .blog_author_thumbnailbox{
//     display: flex;
//     justify-content: end;
//     // background-color: antiquewhite;
//     margin-top: -60px;
//     background-color: #e5e5e2;
//     position: absolute;
//     margin-left: 152px;
//     border-radius: 35px;
//     padding: 0px;

// }
// .blogauthor_box{
//     padding-top: 19px;
//         padding-right: 16px;
//         text-align: center;
// }
// .authorpic_box{
//     padding: 10px;
// }  
// .blogauthorname_box{
//     padding-top: 20px;
//     padding-right: 18px;
//     padding-left: 2px; 
// }

// .authorpic_box img{
// width: 75%;
//     border-radius: 50%;
// }
// .authorpic_box,.blogauthorname_box{
//     background-color: antiquewhite;
    
// }
 
.blog_date,.blog_author {
    font-size: 14px;
    margin-bottom: 10px;
    
}

.blog_content1{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 2px 20px #0000001a;
}
   

.blog_date_author-box{
    display: flex;
    justify-content: space-between;
}

.blog_mainHeading{
    margin-top: 0px;
    font-size: 24px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bolder;
    text-decoration: underline;}

     .blog_content{
        padding: 30px;
        background: #fff;

        svg{
            vertical-align: text-top;
            color: #32a4d5;
        }
    }
    .blog_description{
        line-height: 25px;
    margin-top: 15px; 
    }
    

}


.recent_blog_list{
    box-shadow: 0px 2px 20px #00000008;
    transition: 0.5s;
}

.recent_blog_list:hover{
    transform: translateY(-20px);
    transition: 0.5s;
}