@import "../../Assets/saas/Main.scss";

.blog_page{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f8f8f8d9;

// .blog_author_thumbnailbox{
//     display: flex;
//     justify-content: end;
//     // background-color: antiquewhite;
//     margin-top: -60px;
//     background-color: #e5e5e2;
//     position: absolute;
//     margin-left: 152px;
//     border-radius: 35px;
//     padding: 0px;

// }
// .blogauthor_box{
//     padding-top: 19px;
//         padding-right: 16px;
//         text-align: center;
// }
// .authorpic_box{
//     padding: 10px;
// }  
// .blogauthorname_box{
//     padding-top: 20px;
//     padding-right: 18px;
//     padding-left: 2px; 
// }

// .authorpic_box img{
// width: 75%;
//     border-radius: 50%;
// }
// .authorpic_box,.blogauthorname_box{
//     background-color: antiquewhite;
    
// }
 
.blog_date,.blog_author {
    font-size: 14px;
    margin-bottom: 10px;
    
}

.blog_content1{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 2px 20px #0000001a;
}
.blog_img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
   

.blog_date_author-box{
    display: flex;
    justify-content: space-between;
}

.blog_mainHeading{
    margin-top: 0px;
    font-size: 24px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bolder;
    text-decoration: underline;}
  
     .blog_content{
        padding: 30px;
        background: #fff;
        border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


        svg{
            vertical-align: text-top;
            color: #32a4d5;
        }
    }
    .blog_description{
        line-height: 25px;
    margin-top: 15px; 
    }
    

}


.recent_blog_list{
    box-shadow: 0px 2px 20px #00000008;
    transition: 0.5s;
}

.recent_blog_list:hover{
    transform: translateY(-20px);
    transition: 0.5s;
}
 
.blogPagination {
    background: #fff;
    border-radius: 50px;
    display: inline-flex;
    padding: 5px 40px;
    box-shadow: 0px 2px 25px #0000000d;
    border: 1px solid $ball_blue_color;
    margin-top: 30px;

    .page-link{
        background: transparent !important;
    border: none;
    color: #222;
    cursor: pointer;
    }
    .active{
        background-color: $ball_blue_color !important;
        padding: 1px 3px;
        border-radius: 50%;
       
        a { color: $white_color !important;}
    }
}
 
// .nextBtn{
//     border-radius: 50%;
//     background: #32a4d5;
//     color: #fff;
//     padding: 8px 12px;
// }