@import "../../Assets/saas/Main.scss";

.popular_clients {
  background-image: url("../../Assets/images/our_client_bg.png");
  // background-image: url("../../Assets/images/our_client_blue_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.popular_partner_heading {
  color: black;
  font-size: 42px;
  font-weight: 700;
  font-family: $rajdhani_font;
  line-height: 48px;

  span {
    color: #32a4d5;
  }
}

.popular_client_tab_sec {
  background-color: $white_color;
  padding: 20px 20px 40px;
  box-shadow: 0px 2px 10px #00000021;
  text-align: center;
  img{width: 170px;}
}
.popular_client_tab_sec .nav-tabs .nav-link p {
  font-size: 17px;
  margin-bottom: 0px;
}
.popular_client_tab_sec .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #33a3d3;
  border-radius: 0;
}
.popular_client_tab_sec .nav-tabs .nav-link.active svg,
.popular_client_tab_sec .nav-tabs .nav-link.active p {
  color: $ball_blue_color;
  font-weight: bold;
}
.popular_client_tab_sec .nav-tabs .nav-link:hover {
  border-bottom: 2px solid #33a3d3 !important;
  font-weight: bold;
}
.popular_client_tab_sec .nav-tabs .nav-link:hover svg,
.popular_client_tab_sec .nav-tabs .nav-link:hover p {
  color: $ball_blue_color !important;
  font-weight: bold;
}

.popular_client_tab_sec .nav-tabs .nav-link:hover,
.popular_client_tab_sec .nav-tabs .nav-link {
  border: none;
  border-radius: 0;
}

.client_tabs {
  text-align: center;
  color: $white_color;
  justify-content: center;
  border-color: #f0f0f0;
  outline: none;
  margin-bottom: 40px !important;
}

.accreditation_sec{
     background: #f5fcff; 
    /* background: linear-gradient(131deg, rgb(255, 255, 255) 0%, rgb(240 250 255) 50%); */
}

.popular_client_tab_sec {
  margin-top: 30px;
  img {
    // filter: grayscale(100%);
    // opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
  }
  img:hover {
    // filter: none;
    opacity: 1;
    transition: 0.5s;
  }
}


@media screen and (max-width:480px){

  .popular_partner_heading{font-size: 28px; line-height: 32px;}

.popular_client_tab_sec .nav-tabs .nav-link{padding: 10px 5px;}
.popular_client_tab_sec .nav-tabs .nav-link p{font-size: 14px;}
.popular_client_tab_sec img{width: 110px;}
}

@media screen and (max-width:767px){
  .popular_client_tab_sec {
    margin-top: 10px;
}
  .popular_clients{padding: 40px 0;}
}

@media screen and (min-width:768px) and (max-width:1023px){
  .popular_clients{
    padding: 70px 0px;
  }
  .popular_client_tab_sec {
    margin-top: 20px;
}
}