@import "./Assets/saas/Main.scss";

body {
  margin: 0;
  font-family:  $roboto_font;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaeaea;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $ball_blue_color;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $ball_blue_color;
}

p{font-size: $para_text; color: $para_color; line-height: 24px;}

@media screen and (min-width:768px) and (max-width:1023px){
.ipad_full_width{width: 100%;}
.ipad_half_width{width: 50%;}
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1190px !important;
}
}

 
 
