@import "../../Assets/saas/Main.scss";

.servicePopup .ripple .ripple-surface button {
  float: right;
  position: fixed;
  background: #32a4d5;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-left: 20px;

}

.modal-header
  
{

  border-bottom: none;
  h5 {
  margin-left: 90px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 24px !important;
  margin-left: 25% !important;
  
}
}

.servicePopup {
  .input-group {
    padding: 0px !important;
  }
 
}
.input-group-text span {
  height: 65px;
  padding: 15px;
}

.newsletter_submit {
  text-align: center;

  Button {
    margin-left: 0;
    width: 100% !important;
    margin-bottom: 20px;
    &:hover {
      background-color: green;
    }
  }
}

.input-group-text {
  font-size: 24px;
  background: no-repeat;
  border: none;
}

.ripple {
  position: fixed;
  margin-left: 10px;

  border: none;
  margin-top: 10px;
}

.btn-close {
  color: red;
  border-radius: 50px;
  // margin-left: 425px !important;
  &:hover {
    color: white !important;
  }
}

.stickyScrollpopup {
  .fixedpopup button {
    position: fixed;
    right: 0;
    background: #32a4d5;
    border: none;
    transform: rotate(90deg);
    margin-top: 50px;
    margin-right: 10px;
    z-index: 999;
  }

  .newsletter_submit button {
    width: 90%;
    &:hover {
      background: green;
    }
  }
}

.stickyScrollpopup .modal-title {
  margin-left: 100px !important;
  font-family: "Rajdhani", sans-serif !important;
  font-weight: 700;
  font-size: 24px;

  .btn-close {
    color: red;
    border-radius: 50px;
    // margin-left: 425px !important;
  }
  input{
    padding: 10px;
  }
}


.submit-button button{
  width: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}   

.top_icon{
  background: $light_navy_blue;
margin-top: 30px;
color: #fff;
width: 80px;
height: 80px;
line-height: 60px;
text-align: center;
font-size: 45px;
border-radius: 50%;
position: absolute;
left: 50%;
transform: translate(-50%, -22px);
border: 5px solid #fff;
}



@media screen and (max-width:480px) {

  .stickyScrollpopup .fixedpopup button {
      position: fixed;
      right: 0;
      background: #32a4d5;
      border: none;
      transform: rotate(90deg);
      margin-top: 100px;
      margin-right: 0px;
      z-index: 999;
    }
  
}


.stickyPopupService{
  input{
    padding:10px;
    border-radius: 5px !important;

  }
  .submit-button Button{
    background-color: #32a4d5 !important;
    color: $white_color !important;
    width: 30% !important;
    outline: none;
    border: none;
    font-family: $rajdhani_font;
    font-weight: bold;
    &:hover{
      background-color: $ball_blue_color !important;
    }
  }
}
